#register-form {
  font-family: cursive;
  width: 250px;
  height: 350px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 5%;
  background-image: linear-gradient(blueviolet, rgb(44, 44, 184));
  box-shadow: 20px 20px 20px lightslategray;
}

.input-register {
  font-family: cursive;
  margin: auto;
  text-align: center;
  border: 0;
  outline: none;
}

.a-log-reg {
  text-decoration: none;
  color: whitesmoke;
}
